__pycache__/
ted-moonchild-linux*
ted-moonchild-windows*
ted-moonchild-macos*
dockerfiles/ssh_host_rsa_key*
dockerfiles/ssh_host_dsa_key*
db/
save-states/
game_notes.md
balance_tables.ods
.~lock.balance_tables.ods#
